.detailed-page{
    display: flex;
    align-items: center;
    justify-content: center;
    .page-inner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 1000px;
        height: 700px;
        gap: 50px   ;
        // ---
        background-color:beige;
        border-radius: 50px;
        margin-top: 90px;
    }
}